html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
  outline: none;
  height: 100%;
  image-rendering: pixelated;
}
